<IfModule mod_rewrite.c>
    rewriteEngine on

    RewriteRule ^(\w+)(\/|)$ index.php?resource=$1 [L,QSA]
    RewriteRule ^(\w+)(\/|)\?([\w=&]+)$ index.php?resource=$1&$3 [L,QSA]

    RewriteRule ^([\w+]+)\/([\w\d-]+)(\/|)$ index.php?resource=$1&id=$2 [L,QSA]
</IfModule>